html {
  background-color: lightgreen;
}

body {
  background-color: white;
  width: 900px;
  padding: 25px 75px;
  margin: auto;
}

.center {
  text-align: center;
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  margin-bottom: 35px;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

ul {
  font-size: 18px;
}

p {
  font-size: 20px;
}

html {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  font-size: 32px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}
